# BEGIN MODULE HEADERS, SECURITY HEADERS

Header always set Strict-Transport-Security "max-age=31536000;"
Header always set x-xss-protection "1; mode=block"
Header always set x-frame-options "SAMEORIGIN"
Header always set X-Content-Type-Options "nosniff"
Header always set Cache-Control "max-age=2628000, public"
Header always set Referrer-Policy "no-referrer-when-downgrade"
Header always set Content-Security-Policy "upgrade-insecure-requests"
# Header always set Permissions-Policy "geolocation=(); midi=();notifications=();>

Header always set Permissions-Policy: fullscreen=(self "https://ethernet.lol"), geolocation=*, camera=()

# END MODULE HEADERS